* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0; /* Light Gray */
}

.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EAEDF0; /* Light Gray */
  /* border: 1px solid red; */
}

.menu {
  height: 100px;
  background-color: #B2D6FF; /* Medium Blue */
}

.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D; /* Red */
}

.content {
  float: left;
  width: 650px;
  height: 500px;
  padding: 20px;
  background-color: #F5CF8E; /* Yellow */
}

.footer {
  clear: both;
  overflow: hidden;
  background-color: #D6E9FE; /* Light Blue*/
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color:  #B2D6FF; /* Medium Blue */
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  font-size: 11px;
  margin: 10px;
  overflow: hidden;
}

.article-image {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 4px solid black;
  border-radius: 20px;
}

p {
  margin-bottom: 20px;
}

